*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gfs neohellenic", serif;
    font-family: "Inter", serif;
    font-family: "Playfair Display", serif;
    font-family: "Libre Baskerville", serif;
}

:root {
    --white: #fff;
    --bone: #E0D7C4; /*Background das páginas e opções header*/
    --timberwolf: #CCC7BB; /*Final das páginas com opção de escolha das harmônicas e jogo*/
    --dim-gray: #716D5E; /*Botão Jogo*/
    --normal-gray: #BCB59D; /*Botão home*/
    --field-drab: #5A4A25; 
    --drab-dark-brown: #483B1E; /*Texto da escolha da categoria (Harmônicas/Desarmônicas) na page Oq são*/
    --coyote: #83692E; /*Texto Escolher outra imagem*/
    --alabaster: #EAE8E1;  /*Fundo dos textos em Sobre Nós, Botão Quero jogar, seção para escolher próximos tipos de relação*/ 
    --seal-brown: #623014; /*Botão Quero jogar, opções desarmônicas, logo insta*/ 
    --russet: #783B14; /*Bordas das imagens*/
    --bistre: #282111;    /*Botão jogar novamente, título dos cards da home*/
    --ash-green: #C8D0C3; /*Botão jogar novamente*/
    --cal-poly-green: #364B2A; /*Opções harmônicas, cor do header*/
    --dark-moss-green: #4F6839; /*Botão iniciar*/
    --hunter-green: #3D5331; /*Bordas da imagem da page oq são*/
}

header {
    height: 12rem;
    display: flex;
    align-items: center;
    background: var(--cal-poly-green);
    width: 100%;


    ul{
        display: flex;
        gap: 2.5rem;
        padding-bottom: 0.5rem;
    }

     li {
        list-style: none;
    }

    a {
        display: flex;
        font-family: "Inter", serif;
        color: var(--bone);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 1rem;
    }

    a.active {
        text-decoration: underline;
    }

    .logo {
        justify-content: space-between;
        display: flex;
        width: 12.5rem;
        margin-right: 52.8rem;
        margin-left: 4.3rem;
        padding-bottom: 0.9rem;
        margin-top: 0.65rem;
    }

    nav li:hover {
        transform: scale(1.1);
        transition: .4s;
    }

}

body{
    background: var(--bone);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  
  .text {
    flex: 1;
    min-width: 25rem;
  }
  
  .text p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    width: 22rem;
  }
  
  .image {
    flex: 1;
    min-width: 25rem;
    text-align: center;
  }
  
  .image img {
    max-width: 100%;
    border: .9rem solid #2f4f2f;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  }
  
  .video-section {
    margin-top: 4rem;
    text-align: center;
  }
  
  .video-section h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .video-section iframe {
    width: 45rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: .5rem;
  }
  
  .video-section iframe:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }

  .next-type {
    background-color: #dfd7c7;
    padding: 3rem 20rem;
    text-align: center;
    margin-top: 4rem;
  }
  
  .next-type h2 {
    color: #415733;
    font-size: 1.8em;
    margin-bottom: 2.5rem;
    font-family: serif;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
    flex-wrap: wrap;
    display: flex;
    gap: 8rem;
    margin-left: 3rem;
    background: var(--alabaster);

    .img{
        width: 12rem;
        margin-left: -3rem;
        border: none;    
        transition: transform 0.3s ease;
} 
  }
  
  .card {
    width: 18rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .actions {
    background: var(--timberwolf);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
  }
  
  .left-action, .right-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
    min-width: 20rem;
    font-family: serif;
    font-size: 1.1em;
  }
  .left-action span {
    color: var(--seal-brown);
  }
  
  .right-action span {
    color: var(--dim-gray);
  }
  
  .jogar{
    border: none;
    font-family: "Inter", serif;
    color: var(--white);
    background: var(--dim-gray);
    text-decoration: none;
    padding: 0.750rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3.1rem;
    font-weight: 700;
  }
.jogar:hover{
    transform: scale(1.05);
    transition: .6s;
}

  .desarmonicas{    
    border: none;
    font-family: "Inter", serif;
    color: var(--white);
    background: var(--seal-brown);
    text-decoration: none;
    padding: 0.750rem;
    border-radius: 3.1rem;
    font-weight: 700;
}
.desarmonicas:hover {
    transform: scale(1.05);
    transition: .6s;
}