*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gfs neohellenic", serif;
    font-family: "Inter", serif;
    font-family: "Playfair Display", serif;
    font-family: "Libre Baskerville", serif;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --bone: #E0D7C4; /*Background das páginas e opções header*/
    --timberwolf: #CCC7BB; /*Final das páginas com opção de escolha das harmônicas e jogo*/
    --dim-gray: #716D5E; /*Botão Jogo*/
    --normal-gray: #BCB59D; /*Botão home*/
    --field-drab: #5A4A25; 
    --drab-dark-brown: #483B1E; /*Texto da escolha da categoria (Harmônicas/Desarmônicas) na page Oq são*/
    --alabaster: #EAE8E1;  /*Botão Quero jogar, seção para escolher próximos tipos de relação*/
    --seal-brown: #623014; /*Botão Quero jogar, opções desarmônicas, logo insta*/ 
    --russet: #783B14; /*Bordas das imagens*/
    --bistre: #282111;    /*Botão jogar novamente, título dos cards da home*/
    --ash-green: #C8D0C3; /*Botão jogar novamente*/
    --cal-poly-green: #364B2A; /*Opções harmônicas, cor do header*/
    --dark-moss-green: #4F6839; /*Botão iniciar*/
    --hunter-green: #3D5331; /*Bordas da imagem da page oq são*/
}

header {
    height: 12rem;
    display: flex;
    align-items: center;
    background: var(--cal-poly-green);
    width: 100%;


    ul{
        display: flex;
        gap: 2.5rem;
        padding-bottom: 0.5rem;
    }

     li {
        list-style: none;
    }

    a {
        display: flex;
        font-family: "Inter", serif;
        color: var(--bone);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 1rem;
    }


    a.active {
        text-decoration: underline;
    }

    .logo {
        justify-content: space-between;
        display: flex;
        width: 12.5rem;
        margin-right: 52.8rem;
        margin-left: 4.3rem;
        padding-bottom: 0.9rem;
        margin-top: 0.65rem;
    }

    nav li:hover {
        transform: scale(1.1);
        transition: .4s;
    }

}

body{
    background: var(--bone);
}

main {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "playfair display", serif;
  width: 30rem;
  height: 8.5rem;
}

.texto{ 
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem 20rem;

    .paragrafo{
        font-size: 2rem;
        color: var(--drab-dark-brown);
        width: 30rem;
    }
}

.texto hr {
    border: none;
    border-top: 1px solid #96917E;
    width: 30rem;
    padding-bottom: 2rem;
}

.texto a{
        transform: scale(1.1);
        transition: .4s;
}

.imagem-legenda{
    background-color: var(--hunter-green);
    border-radius: 2.3rem;
    margin-top: 8rem;
    width: 25rem;    
    margin-right: 20rem;
    padding: 3rem;
}

.texto
.imagem-legenda{
    display: flex;
}

.imagem-legenda p{
    color: var(--white);
    text-align: justify;
    font-family: "gfs neohellenic", serif;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.relacoes-img{
    width: 20rem;
    height: 15rem;
    margin-right: 3rem;
}

.harmonicas {
    font-family: "Inter", serif;
    color: var(--white);
    background: var(--cal-poly-green);
    text-decoration: none;
    padding: 0.750rem;
    border-radius: 3.1rem;
    font-weight: 700;
    margin-left: 3rem;
    margin-right: 3rem;
}
.CTA .harmonicas:hover{
    transform: scale(1.1);
    transition: .4s;
}

.desarmonicas{    
    font-family: "Inter", serif;
    color: var(--white);
    background: var(--seal-brown);
    text-decoration: none;
    padding: 0.750rem;
    border-radius: 3.1rem;
    font-weight: 700;
}
.CTA .desarmonicas:hover{
    transform: scale(1.1);
    transition: .4s;
}

.texto p{
    text-align: justify;
    font-family: "gfs neohellenic", serif;
    font-size: 1.75rem;
    width: 25.5rem;
    height: 33.2;
    margin-bottom: 2rem;
}

.CTA{
    font-family: "gfs neohellenic", serif;
    color: var(--drab-dark-brown);
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    font-weight: 700;
}