*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gfs neohellenic", serif;
    font-family: "Inter", serif;
    font-family: "Playfair Display", serif;
    font-family: "Libre Baskerville", serif;
}

:root {
    --white: #fff;
    --bone: #E0D7C4; /*Background das páginas e opções header*/
    --timberwolf: #CCC7BB; /*Final das páginas com opção de escolha das harmônicas e jogo*/
    --dim-gray: #716D5E; /*Botão Jogo*/
    --normal-gray: #BCB59D; /*Botão home*/
    --field-drab: #5A4A25; 
    --drab-dark-brown: #483B1E; /*Texto da escolha da categoria (Harmônicas/Desarmônicas) na page Oq são*/
    --alabaster: #EAE8E1;  /*Fundo dos textos em Sobre Nós, Botão Quero jogar, seção para escolher próximos tipos de relação*/ 
    --seal-brown: #623014; /*Botão Quero jogar, opções desarmônicas, logo insta*/ 
    --russet: #783B14; /*Bordas das imagens*/
    --bistre: #282111;    /*Botão jogar novamente, título dos cards da home*/
    --ash-green: #C8D0C3; /*Botão jogar novamente*/
    --cal-poly-green: #364B2A; /*Opções harmônicas, cor do header*/
    --dark-moss-green: #4F6839; /*Botão iniciar*/
    --hunter-green: #3D5331; /*Bordas da imagem da page oq são*/
}

header {
    height: 12rem;
    display: flex;
    align-items: center;
    background: var(--cal-poly-green);
    width: 100%;


    ul{
        display: flex;
        gap: 2.5rem;
        padding-bottom: 0.5rem;
    }

     li {
        list-style: none;
    }

    a {
        display: flex;
        font-family: "Inter", serif;
        color: var(--bone);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 1rem;
    }


    a.active {
        text-decoration: underline;
    }

    .logo {
        justify-content: space-between;
        display: flex;
        width: 12.5rem;
        margin-right: 52.8rem;
        margin-left: 4.3rem;
        padding-bottom: 0.9rem;
        margin-top: 0.65rem;
    }

    nav li:hover {
        transform: scale(1.1);
        transition: .4s;
    }

}
body {
    background: var(--bone);
  }
  
  h1 {
    text-align: center;
    color: #1a1a1a;
    font-family: 'playfair display', serif;
    font-size: 3.3rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  h2{
    text-align: center;
    color: #1a1a1a;
    font-family: 'playfair display', serif;
    font-weight: 500;
    font-size: 2.3rem;
  }

  hr{
    border: none;
    border-top: 1px solid #96917E;
    padding-left: 85rem;
    margin-top: 1rem;
    margin-left: 18rem;    
    margin-right: 25rem;
    padding-bottom: 2rem;
  }

  .container1 {
    font-family: 'gfs neohellenic', serif;
  }
  
  .sobre-nos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  
  .sobre-texto {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.8;
    padding-left: 20rem;
    margin-top: -3rem;
    
    p{
      text-align: justify;
      width: 25rem;
      font-family: "gfs neohellenic", serif;
      font-weight: 500;
      color: #2B1509;
    }
  }
  
  .sobre-img img {
    border-radius: .8rem;
    margin-top: 2rem;
    width: 30rem;
    margin-right: 20rem;
  }
  
  .citacao {
    font-family: 'gfs neohellenic', serif;
    background: #3d5a3a;
    color: #f4f4f4;
    font-style: italic;
    text-align: center;
    padding: 3rem;
    width: 100%;
    margin-bottom: 5rem;

    p{
      font-size: 2rem;
      text-align: justify;
      width: 35.5rem;
      margin-left: 40rem;
      font-weight: 600;
      font-family: 'gfs neohellenic', serif;
    }
  }

  .container{
    display: flex;
    margin-left: 20rem;
    gap: 40rem;
  }

  .container .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    transition: .5s;
  }
    .container .card:hover .face.face1 {
    transform: translateY(0px) ;    
    transition: .4s;
    }

    .container .card .face.face1 .content img {
    max-width: 100rem;
}
    .container .card .face.face2 {
    border-radius: 1.2rem;
    width: 20rem;
    position: relative;
    background: var(--alabaster);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 20px 50px var(--bistre);
    transform: translateY(-100px) ;
    }
    .container .card:hover .face.face2 {
    transform: translateY(0);
    transition: .4s;
    }
  
    .icon img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border: 9px solid var(--russet);
    }
  
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  .nome {
    font-family: 'gfs neohellenic', serif;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .funcao {
    font-family: 'gfs neohellenic', serif;
    color: #666;
    font-size: .9rem;
    font-weight: 400;
  }
  
  .frase {
    font-family: 'gfs neohellenic', serif;
    font-style: italic;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.98rem;
  }
  
  .insta img {
    border: none;
    width: 2rem;
    height: auto;
    margin-top: 0.6rem;
  }

  .seta{
    margin-bottom: 1rem;
    width: 4.8rem;
    border: none;
    margin-left: 54.8rem;
    transition: transform 0.3s ease;
    
    .seta:hover {
        transform: scale(1.1);
        transition: .4s;
        cursor: pointer; /* muda o cursor pra indicar que é clicável */
    }
}